.env
*__pycache__
.vscode
docker-compose.y*ml
.coverage
*.egg-info
dist
build
docs/_build
*.tar.gz
pharus/dynamic_api.py
pharus/component_interface_override.py
/specs
docs/temp_mkdocs.log
docs/site
!docs/docker-compose.yaml
